pkgbase = linux-aarch64-rockchip-bsp6.1-joshua-git
	pkgver = 6.1.43.r1266030.gd3e66fee
	pkgrel = 3
	url = https://github.com/Joshua-Riek
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = dtc
	options = !strip
	source = git+https://github.com/Joshua-Riek/linux-rockchip.git#branch=noble
	source = config
	source = linux.preset
	source = panthor.patch::https://github.com/hbiyik/linux/compare/aa54fa4e0712616d44f2c2f312ecc35c0827833d...rk-6.1-rkr3-panthor.patch
	sha512sums = SKIP
	sha512sums = ee23a548ab4c6cbe09d22b42b6796f5f34b5f4cbd1f077e31dc4c26614a64af80b7b04715844845d87e600f42440e38c53ba6e409b3b3a6748339e9736083493
	sha512sums = 60d8c983976d37e218b17511586a316353a8ef14e08477c6d3b5b712d53886617a374b5ea9d2321e1a94c461cf979e6d94cf2c26c3df0da314e53a9223c8329f
	sha512sums = 9a693c739e90662d2f86c89874638ebba3d75e06c787151f6290d759df92589f4d500c6fe17533c06d2f3437518afaec6488c1c70fb813c7b0b5db9d9d320e20

pkgname = linux-aarch64-rockchip-bsp6.1-joshua-git
	pkgdesc = The linux-rockchip kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-bsp6.1-joshua-git-headers
	pkgdesc = Headers and scripts for building modules for the linux-rockchip kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = python
